body {
  /* color: white;
  background: #52a1a5; */
  color: #52a1a5;
  background: white;
  align-items: center;
  font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
}

div {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 30px;
}


input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

/* button, */
label,
ul {
  width: 300px;
  box-sizing: border-box;
  border: solid 1px white;
  background: black;
  color: white;
  font-size: 24px;
  margin: auto;
  padding: 10px;
}

button{
  align-items: center;
  width: 300px;
  padding: 0.3em 1.2em;
  margin: 0.3em 0.3em 0; 
  border-radius: 2em;
  box-sizing: border-box; 
  text-decoration: bold; 
  font-size: large;
  font-family: 'Roboto',sans-serif; 
  font-weight: 800; 
  color: #FFFFFF; 
  background-color: #52a1a5; 
  text-align: center; 
  transition: all 0.2s; 
}

button:hover{
  background-color: #4095c6;
}

img {
  width: 300px;
  margin-bottom: 25px;
}

ul {
  list-style: none;
  padding: 10px;
  margin-bottom: 25px;
}

li:not(:last-child) {
  padding: 10px;
  border-bottom: solid 1px;
}